In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [4]:
import ssl

# Отключаем проверку SSL-сертификатов
ssl._create_default_https_context = ssl._create_unverified_context

In [5]:
df = pd.read_csv('https://docs.google.com/spreadsheets/d/твой айди/export?format=csv')

# Выводим первые строки для проверки
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3574 entries, 0 to 3573
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              3574 non-null   int64
 1   name            3574 non-null   object
 2   system_message  3574 non-null   object
 3   inserted_at     3574 non-null   object
 4   updated_at      3574 non-null   object
 5   hotkey          1281 non-null   object
 6   user_id         3553 non-null   float64
 7   Category        3574 non-null   object
 8   Market Segment  3574 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 251.4+ KB

In [16]:
df.loc[df["id"] == 2218, "Category"] = "Text Response Generation"
df.loc[df["id"] == 5689, "Category"] = "Content Creation"

# Проверяем, что изменения применились
df.loc[df["id"].isin([2218, 5689])]

,id,name,system_message,inserted_at,updated_at,hotkey,user_id,Category,Market Segment
1012,2218,Reply,建議回覆內容,2024-09-29 11:34:50,2024-09-29 13:42:08,command+shift+r,2179.0,Text Response Generation,Language & Translation
3467,5689,Answer,Answer,2025-01-07 18:48:57,2025-01-07 22:08:46,NaN,2467.0,Content Creation,Content & Marketing

In [17]:
df.to_pickle("classified_segments.pkl")
print("Итоговая таблица успешно сохранена в 'classified_segments.pkl'.")

Итоговая таблица успешно сохранена в 'classified_segments.pkl'.